services:
  - type: web
    name: realtime-editor-server
    runtime: node
    buildCommand: "npm install"
    startCommand: "npm run start"
    envVars:
      - key: NODE_ENV
        value: production
  - type: web
    name: realtime-editor-client
    runtime: static
    buildCommand: "npm run build"
    staticPublishPath: ./dist