services:
  # This is the Node.js Server
  - type: web
    name: realtime-editor-server
    runtime: node
    buildCommand: "npm install"
    startCommand: "npm run start"
    envVars:
      - key: NODE_ENV
        value: production

  # This is the React Static Site
  - type: static
    name: realtime-editor-client
    buildCommand: "npm run build"
    staticPublishPath: ./dist